/* .noto-sans-cherokee {
  font-family: "Noto Sans Cherokee", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
} */

* {
    font-family: "Special Gothic Expanded One", sans-serif;
    background-color: rgb(255, 250, 243);
    margin: 50px 0;
  }
  
  .logotitle {
    padding-left: 50px;
  }
  
  .logotitle img {
    max-width: 5%;
    height: auto;
    display: block;
  }
  
  .Ptitle {
    position: relative;
    font-size: 6rem;
    text-align: left;
    padding: 10px 20px 0px 50px;
  }
  
  .andred {
    color: red;
  }
  
  .works {
    padding: 80px 0px 0px 50px;
    font-size: 3rem;
  }

  .SDcards{

  }